    p {
    text-align: center;
    color: red;
    }

    #para1 {
    text-align: center;
    color: rgb(0, 247, 255);
    }
    .center {
    text-align: center;
    color: rgb(195, 0, 255);
    }
    p.center {
    text-align: center;
    color: rgb(255, 0, 170);
    }